{% extends "layout.html" %}
{% block content %}
<div class="panel panel-info">
    <!-- Default panel contents -->
    
    <div class="panel-heading"><h4>当前数据库共有<strong>{{proxys|length}}</strong>个IP代理</h4></div>
    <!--<div class="panel-body">
        <p></p>
    </div>-->

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <td style="width:20%;">IP地址</td>
                <td style="width:15%;">端口</td>
                <td style="width:30%;">地理位置</td>
                <td style="width:15%;">连接速度</td>
                <td style="width:20%;">更新时间</td>
            </tr>
        </thead>
        <tbody>
            {%- for proxy in proxys %}
            <tr>
                <td>{{proxy.ip}}</td>
                <td>{{proxy.port}}</td>
                <td>{{proxy.area}}</td>
                <td>{{proxy.speed}}s</td>
                <td>{{proxy.updatetime|pretty_date}}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}