
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://s.ip-cdn.com" rel="dns-prefetch" />
    <title>IP优选 - IP代理查询 | IP代理API | IP 地址查询</title>
    <meta name="robots" content="all" />
    <meta name="Keywords" content="ip代理,ip查询">
    <meta name="Description" content="优选ip代理">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, minimum-scale=0.5">
    <meta name="format-detection" content="telephone=no">
    <!--[if lt IE 8]>
    <script src="http://s.ip-cdn.com/js/ie8.js"></script>
    <![endif]-->
    <link href="{{url_for('static',filename='css/main.css')}}" rel='stylesheet' type='text/css'>
    <!--<script src="http://www.google.com/jsapi"></script>-->

    <!-- To use Highcharts uncomment the following 2 lines and delete the previous one
    
    -->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static',filename='chartkick.js')}}"></script>
</head>
<body>


    <div class="container">
        <div class="mainbar">
            <ul class="nav nav-pills center-pills">
                <li class="active"><a href="/">IP 代理优选</a></li>
            </ul>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <div id="leftbar" class="panel panel-warning">
                    <div class="panel-heading">需要API服务？</div>
                    <div class="panel-body">
                        请邮件联系<em>120978211@qq.com</em>
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="padding-left:50px;">

                {%block content%} {% endblock %}
            </div>
        </div>
        <div class="footer">
            <p>
                ©2006-2016 ipyou.cn 沪ICP备15005128号-3
            </p>
        </div>
    </div>
    <div style="display:none">
        <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" language="JavaScript"></script>
    </div>
</body>
</html>
